:root {
  --charcoal: #2d3232;
}

label {
  display: inline-block;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 0;
}

input[type="checkbox"],
input[type="radio"] {
  /* Increase the size by 180% */
  transform: scale(1.8);
  margin: 1rem;
  /* Set the color of the input when selected/clicked */
  accent-color: var(--charcoal); 
  cursor: pointer;
}

input[type="checkbox"] {
  position: relative;
  right: 2px;
}

input::placeholder {
  opacity: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: "";
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px var(--charcoal);
  border-right: 1px var(--charcoal);
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  bottom: 45%;
  opacity: 0;
  transition: opacity 200ms ease;
}

.state--editing.select-wrapper::after {
  opacity: 1;
}

.radio-buttons-group,
.radio-buttons,
.checkbox {
    display: flex;
    align-items: center;
}

.radio-buttons {
  gap: 2rem;
  position: relative;
  right: 2px;
}
